*.o
*.lo
*.la
*.a
*.so
*.so.*
.libs/
.deps/
*.log
*.trs

autom4te.cache/
build-aux/
config.h
config.h.in
config.h.in~
config.status
config.guess
config.sub
configure
libtool
stamp-h1

aclocal.m4
Makefile
Makefile.in
*/Makefile
*/Makefile.in

libpocsag.pc

test_libpocsag
encode_page
decode_stream

*.tar.gz
*.tar.xz
