Package: libpocsag0-dbgsym
Package-Type: ddeb
Source: libpocsag
Version: 1.0.0-1
Auto-Built-Package: debug-symbols
Architecture: arm64
Maintainer: Brian <brian@example.com>
Installed-Size: 46
Depends: libpocsag0 (= 1.0.0-1)
Section: debug
Priority: optional
Multi-Arch: same
Description: debug symbols for libpocsag0
Build-Ids: bc4d0f1cff527cbee9a12138cf36540842f8d0f0
